# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "11d98000ae73c1e98d6cf9a1a3448c42"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "YOURFORWARDPROXY/"
